<h2>Louis de Pointe du Lac</h2>

<p>
  <img src="images/louis.jpg" />
  Louis de Pointe du Lac is a fictional character in Anne Rice's The Vampire Chronicles
  series. He begins his life as a mortal man, and later becomes a vampire. He is the
  protagonist of Interview with the Vampire (the first book of The Vampire Chronicles).
</p>

<input type="button" ng-click="show.nowShow()" value="More About Louis" />
<p class="more-about" ng-show="show.moreAbout">
  Louis de Pointe du Lac is born in France on October 4, 1766, to a Roman Catholic family who immigrated to
  North America when he was very young. His mother, sister and brother, Paul, live just outside New Orleans
  on one of their two indigo plantations, named Pointe du Lac after the family. Louis's brother, who insists
  that he has religious visions, dies after a terrible quarrel with Louis. Louis blames himself for his
  brother's death, becoming self-destructive, cynical, and desperate. He longs for the release of death,
  but lacks the courage to commit suicide. He takes to frequenting taverns and other places of ill repute,
  instigating fights and duels in order that someone might kill him.<br>


  <br>During a tavern brawl, Louis catches the eye of the vampire Lestat de Lioncourt. Lestat appears to Louis
  as an angel and offers him an alternative to his desperate, meaningless life. Lestat, upon seeing for
  the first time Louis's "fine black hair" and deep green eyes, and sensing his passion, is seduced not
  only by Louis's beauty, but also by his tragedy and human heart; "He seduced the tenderness in me."
  Lestat makes Louis into a vampire, his immortal companion in 1791, and lives with Louis for nearly a century.
</p>
